.choose-plan-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  .subscription-prescription {
    max-width: 325px;
    text-align: center;
    color: var(--color-secondary-400);
    font-size: var(--text-xs);
    line-height: 1.5;
    a {
      text-decoration: none;
      cursor: pointer;
      color: var(--color-secondary-600);
      font-weight: 600;
    }
  }
}
