.comments-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .comments-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
