.graph-wrapper {
  width: 100%;
  padding: 1rem 0;
}

.graph {
  width: 100%;
  height: auto;
  overflow: visible;
}

.line {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 3;

  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease-out forwards;
}
.dot {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
