.loading-wrapper {
  position: relative;
  width: 30px;
  height: 30px;

  .hide {
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }

  .svg-circles {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  }

  .progress {
    transition: stroke-dashoffset 80ms linear, opacity 300ms;
  }

  .check {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transform: scale(0.3);
    transition: opacity 300ms ease, transform 300ms ease;
    left: 0.3rem;
    bottom: 0.2rem;
    &.visible {
      opacity: 1;
      transform: scale(1);
    }
  }
}
