.loading-wrapper {
  --size: 32px;

  width: var(--size);
  height: var(--size);
  position: relative;

  @keyframes counterFadeIn {
    from {
      opacity: 0;
      transform: translateY(4px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .hide {
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }

  .svg-circles {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  }

  .progress {
    transition: stroke-dashoffset 80ms linear, opacity 300ms;
  }

  .check {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transform: scale(0.3);
    transition: opacity 300ms ease, transform 300ms ease;
    left: 0.3rem;
    bottom: 0.2rem;
    &.visible {
      opacity: 1;
      transform: scale(1);
    }
  }
  .count-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-secondary);
    font-size: calc(var(--size) / 4.5);
    font-weight: 600;
    letter-spacing: -3px;
    animation: counterFadeIn 160ms ease-out;
  }
}
