.contact-step-block {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  width: 100%;
  flex-grow: 1;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  .top-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
}
