:root {
  /* Brand */
  --color-primary: #0062F5;
  --color-light: #FFFFFF;

  /* Text */
  --color-text-primary: #222B38;
  --color-text-secondary: #778191;
  --color-text-seconadry-100: #A7A7A7;

  /* UI */
  --color-seconadry: #222B38;
  --color-seconadry-600: #222B38;
  --color-secondary-400: #778191;
  --color-secondary-100: #F1F5FB;
  --color-secondary-50: #E4E7EB;

  /* States */
  --color-error: #FF0000;
  --color-success: #19B272;
}
