:root {
  /* Brand */
  --color-primary: #0062F5;
  --color-light: #FFFFFF;
  --color-dark: #000000;

  /* Text */
  --color-text-primary: #222B38;
  --color-text-secondary: #778191;
  --color-text-secondary-100: #A7A7A7;

  /* UI */
  --color-secondary: #222B38;
  --color-secondary-600: #222B38;
  --color-secondary-400: #778191;
  --color-secondary-300: #CED7E5;
  --color-secondary-200: #E1E9F4;
  --color-secondary-100: #F1F5FB;
  --color-secondary-50: #E4E7EB;

  /* States */
  --color-error: #FF0000;
  --color-success: #19B272;
}
