.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--color-light);
  main {
    flex-grow: 1;
    width: 100%;
    section {
      padding: 1.5rem 1rem;
    }
  }
}
