@use './abstracts/mixins';
@use './abstracts/variables';
@use './base/reset';
@use './base/typography';

body {
  font-family: var(--font-primary);
  background: var(--color-bg);
  color: var(--color-text);
}
