.loading-step-block {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  flex-grow: 1;
  gap: 1.2rem;
  align-items: center;
  .steps-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #00000014;
    box-shadow: 0px 0px 3px 1px #0000000e;
    li {
      color: var(--color-dark);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      gap: 0.75rem;
      padding: 0.75rem 1.2rem;
      &:not(:last-child) {
        border-bottom: 1px solid #00000014;
      }
    }
  }
}
