.header-wrapper {
  position: relative;
  height: 40px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-light);
    .heading {
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      color: var(--color-text-primary);
      font-family: var(--font-secondary);
      font-size: var(--text-xl);
      font-weight: 600;
    }
    .prev-button, .nav-button {
      background-color: var(--color-light);
      padding: 0 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--text-xxl);
    }
  }
}
