.benefits-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .benefits-wrapper {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #00000014;
    box-shadow: 0px 0px 3px 1px #0000000e;
    li {
      color: var(--color-dark);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      gap: 0.75rem;
      padding: 0.75rem 1.2rem;
      &:not(:last-child) {
        border-bottom: 1px solid #00000014;
      }
      .check-mark {
        font-size: var(--text-lg);
        color: var(--color-success);
        padding: 0.2rem 0;
      }
      p {
        max-width: 80%;
        font-size: var(--text-md);
        line-height: 1.5;
        font-weight: 600;
      }
    }
  }
}
