.input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  position: relative;
}

.label {
  font-size: 12px;
  position: absolute;
  top: 7px;
  left: 15px;
  font-weight: 600;
  color: var(--color-primary);
  line-height: 1;
}

.control {
  height: 56px;
  border-radius: 12px;
  background: var(--color-secondary-100);
  border: 1.5px solid transparent;

  display: flex;
  align-items: center;
  padding: 0 16px;

  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

.field {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;

  font-size: 16px;
  font-weight: 500;
  color: var(---color-dark);

  &::placeholder {
    color: #9ca3af;
  }
}

.focused .control {
  background: var(--color-light);
  box-shadow: 0px 0px 1px 2px var(--color-secondary-600);
}

.error .control {
  background: var(--color-light);
  box-shadow: 0px 0px 1px 2px var(--color-error);
}

.message {
  font-size: var(--text-sm);
  font-weight: 400;
  color: var(--color-error);
}

.disabled {
  opacity: 0.6;
}

.disabled .control {
  background: var(--color-secondary-100);
}

.disabled .field {
  pointer-events: none;
}

.filled:not(.focused):not(.error) .control {
  background: var(--color-secondary-100);
}
