.statistics-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .statistics-list-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #00000014;
    box-shadow: 0px 0px 3px 1px #00000025;
    .statistics-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.75rem 1rem;
      &:not(:last-child) {
        border-bottom: 1px solid #00000014;
      }
      .chance-wrapper {
        font-family: var(--font-secondary);
        font-size: var(--text-xxl);
        font-weight: 600;
        padding-left: 0.5rem;
        position: relative;
        min-width: 20%;
      }
      p {
        font-size: var(--text-mds);
        line-height: 1.4;
        font-weight: 600;
      }
    }
  }
}
