.comment-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.8rem;
  gap: 0.6rem;
  border-radius: 10px;
  background-color: var(--color-light);
  border: 1px solid #00000014;
  box-shadow: 0px 1px 3px 2px #0000000e;
  .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .commentator-info {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      .name {
        color: var(--color-dark);
        font-size: var(--text-md);
        font-weight: 700;
      }
      .postedAt {
        color: var(--color-dark);
        opacity: 0.4;
        font-weight: 200;
        font-size: var(--text-sm);
      }
    }
    .rating-wrapper {
      display: flex;
      gap: 0.1rem;
      .rating {
        font-size: var(--text-md);
        color: #FF7A00;
      }
    }
  }
  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--text-sm);
  }
}
